
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  background-color: #040714;
  /* background: linear-gradient(45deg, rgb(250, 108, 108) 0%, rgb(67, 139, 155) 85%); */

  color: #f9f9f9;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

a{
  color: #f9f9f9;
  text-decoration: none;
}


@media only screen and (min-width: 768px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (max-width: 479px) {
  body {
      font-size: 13px;
  }
}